@model RegistrationViewModel
@{
    ViewData["Title"] = "Add_admin_user";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header" style=" margin-top: 50px;">
            <div class="row align-items-end">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Pages</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Users</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Confirm Doctor</li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">Confirm Doctor</h1>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->
        <!-- Card -->
        <div class="card" style="padding: 30px">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <h3>Add Admin User</h3>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Header -->
            <!-- form -->
            <form style="margin-top: 20px" asp-action="Add_Admin_Post">
                <div class="form-group">
                    <label for="UserName">UserName</label>
                    <input asp-for="UserName" name="UserName" type="text" class="form-control" id="UserName" placeholder="Enter UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    @{
                        if (@TempData["Message"] != null)
                        {
                            <span style="color:red">@TempData["Message"]</span>
                        }
                    }
                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input asp-for="Name" name="Name" type="text" class="form-control" id="Name" placeholder="Enter Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Email">Email address</label>
                    <input asp-for="Email" name="Email" type="email" class="form-control" id="Email" placeholder="Enter email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input asp-for="Password" name="Password" type="password" class="form-control" id="Password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Confirm">Confirm Password</label>
                    <input asp-for="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" id="Confirm" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Mobile">Mobile</label>
                    <input asp-for="Mobile" name="Mobile" type="text" class="form-control" id="Mobile" placeholder="Enter Mobile">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ProfileImage">Image</label>
                    <input asp-for="ProfileImage" type="file" name="ProfileImage" class="form-control-file" id="ProfileImage" onchange="loadFile(event)">
                    <p><img src="" id="output" width="200" class="rounded mx-auto d-block" /></p>
                    <script>
                        var loadFile = function (event) {
                            var image = document.getElementById('output');
                            image.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- End form -->
        </div>
        <!-- End Card -->
    </div>
    <!-- End Content -->
    <!-- Footer -->

    <div class="footer">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <p class="font-size-sm mb-0">&copy; Front. <span class="d-none d-sm-inline-block">2020 Htmlstream.</span></p>
            </div>
            <div class="col-auto">
                <div class="d-flex justify-content-end">
                    <!-- List Dot -->
                    <ul class="list-inline list-separator">
                        <li class="list-inline-item">
                            <a class="list-separator-link" href="#">FAQ</a>
                        </li>

                        <li class="list-inline-item">
                            <a class="list-separator-link" href="#">License</a>
                        </li>

                        <li class="list-inline-item">
                            <!-- Keyboard Shortcuts Toggle -->
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options='{
                              "target": "#keyboardShortcutsSidebar",
                              "type": "css-animation",
                              "animationIn": "fadeInRight",
                              "animationOut": "fadeOutRight",
                              "hasOverlay": true,
                              "smartPositionOff": true
                             }'>
                                    <i class="tio-command-key"></i>
                                </a>
                            </div>
                            <!-- End Keyboard Shortcuts Toggle -->
                        </li>
                    </ul>
                    <!-- End List Dot -->
                </div>
            </div>
        </div>
    </div>



    <!-- End Footer -->
</main>

