@model ForumClient.Models.UserModel
@{
    ViewData["Title"] = "Profile_Admin";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header" style=" margin-top: 50px;">
            <div class="row align-items-end">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Pages</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Users</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add Admin User</li>
                        </ol>
                    </nav>
                    <h1>@Model.UserName</h1>
                    <h1>@Model.Name</h1>
                    @{
                        if (Model.Image != null)
                        {
                            <img class="rounded-circle" width="150" src="~/update_images/@Model.Image" alt="Image Description">
                        }
                        else
                        {
                            <img class="rounded-circle" width="150" src="https://www.w3schools.com/howto/img_avatar.png" alt="Image Description">
                        }
                    }.
                    <h1 class="page-header-title">Add Admin User</h1>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->
        <!-- Card -->
        <div class="card" style="padding: 30px">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <h3>Add Admin User</h3>
                </div>
                <!-- End Row -->

            </div>
            <!-- End Header -->
        </div>
        <!-- End Card -->
    </div>
    <!-- End Content -->
    <!-- Footer -->

    <div class="footer">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <p class="font-size-sm mb-0">&copy; Front. <span class="d-none d-sm-inline-block">2020 Htmlstream.</span></p>
            </div>
            <div class="col-auto">
                <div class="d-flex justify-content-end">
                    <!-- List Dot -->
                    <ul class="list-inline list-separator">
                        <li class="list-inline-item">
                            <a class="list-separator-link" href="#">FAQ</a>
                        </li>

                        <li class="list-inline-item">
                            <a class="list-separator-link" href="#">License</a>
                        </li>

                        <li class="list-inline-item">
                            <!-- Keyboard Shortcuts Toggle -->
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options='{
                              "target": "#keyboardShortcutsSidebar",
                              "type": "css-animation",
                              "animationIn": "fadeInRight",
                              "animationOut": "fadeOutRight",
                              "hasOverlay": true,
                              "smartPositionOff": true
                             }'>
                                    <i class="tio-command-key"></i>
                                </a>
                            </div>
                            <!-- End Keyboard Shortcuts Toggle -->
                        </li>
                    </ul>
                    <!-- End List Dot -->
                </div>
            </div>
        </div>
    </div>



    <!-- End Footer -->
</main>
