@model IEnumerable<ForumClient.Models.CategoriesModel>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Forum/_Layout.cshtml";
}

<main id="tt-pageContent">
    <div class="tt-custom-mobile-indent container">
        <div class="tt-categories-title">
            <div class="tt-title">Categories</div>
            
        </div>
        <div class="tt-categories-list">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-4" >
                        <div class="tt-item" style="border-radius: 3%;">
                            <div class="tt-item-header">
                                <div class="innerwrapper" style="word-wrap:break-word">
                                    <ul class="tt-list-badge">
                                        <li style="word-wrap:break-word"><a asp-action="ViewPostInCate" asp-for="name" asp-route-name="@item.name" style="width:300px;border:solid 1px white;"><span class="tt-color01 tt-badge" style="font-size: 20px; border: 1px solid #000000;width:auto;">@item.name</span></a></li>
                                    </ul>
                                </div>
                                
                                <h6 class="tt-title"><a href=""></a></h6>
                            </div>
                            <div class="tt-item-layout" >
                                <div class="innerwrapper" style="word-wrap:break-word">
                                    @item.description.Substring(0, 200)
                                    ...
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>