
@{
    ViewData["Title"] = "Forgot_Password_View";
    Layout = "~/Views/Forum/_Layout.cshtml";
}

<main id="tt-pageContent" class="tt-offset-none">
    <div class="container">
        <div class="tt-loginpages-wrapper">
            <div class="tt-loginpages">
                <a asp-action="Index" class="tt-block-title">
                    <img src="/Content/images/logo.png" alt="image">
                </a>
                <form asp-action="Forgot_Password_Post" class="form-default" method="post">
                    @{
                    if (@TempData["Message"] != null)
                    {
                    <span style="color:red; font-weight:bold">@TempData["Message"]</span>
                    }
                    }
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="text" name="Email" class="form-control" id="Email">
                    </div>
                    <input type="submit" class="btn btn-secondary btn-block" value="Confirmed" />
                </form>
            </div>
        </div>
    </div>
</main>