@model RegistrationViewModel
@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Forum/_Layout.cshtml";
}

<main id="tt-pageContent" class="tt-offset-none">
    <div class="container">
        <div class="tt-loginpages-wrapper">
            <div class="tt-loginpages">
                <a asp-action="Index" class="tt-block-title">
                    <img src="/Content/images/logo.png" alt="image">
                    <div class="tt-title">
                        Welcome to Doctor Forum as User
                    </div>
                    <div class="tt-description">
                        Join the forum to unlock true power of community.
                    </div>
                </a>
                <form asp-action="Registar" class="form-default" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="loginUserName">Username</label>
                        <input asp-for="UserName" type="text" name="UserName" class="form-control" id="loginUserName">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="loginUserEmail">Email</label>
                        <input asp-for="Email" type="text" name="Email" class="form-control" id="loginUserEmail">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="loginName">Name</label>
                        <input asp-for="Name" type="text" name="Name" class="form-control" id="loginName">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">Password</label>
                        <input asp-for="Password" type="Password" name="password" class="form-control" id="loginPassword">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" class="form-control" id="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Mobile">Phone</label>
                        <input asp-for="Mobile" type="text" name="Mobile" class="form-control" id="Mobile">
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <input asp-for="Address" type="text" name="Address" class="form-control" id="Address">
                    </div>
                    <div class="form-group">
                        <label for="Birthday">Birthday</label>
                        <input asp-for="Birthday" type="date" name="Birthday" class="form-control" id="Birthday">
                    </div>

                    <div class="form-group">
                        <label for="ProfileImage">Image</label>
                        <input asp-for="ProfileImage" type="file" name="ProfileImage" class="form-control-file" id="ProfileImage">
                    </div>

                    <input type="submit" class="btn btn-secondary btn-block" value="Create my account" />
                    <p>Or signup with social network</p>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <a href="#" class="btn btn-color01 btn-secondary btn-block">
                                    <i>
                                        <svg class="icon">
                                            <use xlink:href="#facebook-f-brands"></use>
                                        </svg>
                                    </i>
                                    Facebook
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <a href="#" class="btn btn-color02 btn-block">
                                    <i>
                                        <svg class="icon">
                                            <use xlink:href="#twitter-brands"></use>
                                        </svg>
                                    </i>
                                    Twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <p>Are you a Doctor? <a asp-action="Doctor_Signup" class="tt-underline">Sign up here</a></p>
                    <p>Already have an account? <a asp-action="User_Login" class="tt-underline">Login here</a></p>
                    <div class="tt-notes">
                        By signing up, signing in or continuing, I agree to
                        DoctorForum’s <a href="#" class="tt-underline">Terms of Use</a> and <a href="#" class="tt-underline">Privacy Policy.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

