
@{
    ViewData["Title"] = "waitAdminConfirmed";
    Layout = "~/Views/Forum/_Layout.cshtml";
}

<main id="tt-pageContent" class="tt-offset-small">
    <div class="container">
        <div class="tt-tab-wrapper">
            <div class="tt-wrapper-inner">
                <h2 style="text-align: center">We will contact you to confirm. Please wait...!</h2>
            </div>
        </div>
    </div>
</main>